

<div class="container my-5 pt-10">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid" src="{{robot.image}}" alt="ProductS">
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        <h6>{{robot.height}}cm</h6>
                    </div>
                    <div class="product-title text-bold my-3">
                        <h2>{{ robot.name }}</h2>
                    </div>


                    <div class="price-area my-4">
                        <p class="old-price mb-1"><del></del> <span class="old-price-discount text-danger">Material: {{ robot.material }}</span></p>
                        <p class="new-price text-bold mb-1" style="color: green;">Price: ${{ robot.price }}</p>
                        <p class="text-secondary mb-1">Quantity: {{ robot.quantity }}</p>

                    </div>


                    <div class="buttons d-flex my-5">
                        <div class="block">
                            <a href="/robot" class="shadow btn custom-btn btn-primary ">Back</a>
                        </div>
                        
        
                              {{#if logined}}
                              
                              <form action="/cart" method="post">
                              <input type="hidden" name="id" value="{{robot._id}}">
                              <div class="block quantity">
                            <input type="number" class="form-control" id="quantity" value="1" min="0" max="5" 
                            placeholder="Enter email" name="quantity">
                        </div>
                            <div class="block">
                            <button class="shadow btn custom-btn btn-warning" >Add to cart</button>
                        </div>
                             </form>
                        {{else}}
                              <div class="block">
                            <button class="shadow btn custom-btn btn-warning" 
                            onclick="return confirm('You can not add to cart because you have not login already');" >Cannot Add to cart</button>
                        </div>
                        {{/if}}
                   
                        
                    </div>




                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1"><h2>Product Details</h2></p>
                    <p class="description">{{ robot.description }}</p>
                </div>
                
             
            </div>
        </div>
    </div>