<div class="row">
    <div class="col-md-2">
       
  <form action="/robot/search" method="post">
                <div class="form-group">
                    <input class="form-control" type="search" placeholder="Search" name="name">
                </div>
            </form>
  <div class="container">
     <select class="form-control" name="sort" id="" onchange="window.location.href=this.value">
                <option value="">Sort by</option>
                <option value="/robot">No Sort</option>
                <option value="/robot/priceasc">Sort by price ascending</option>
                <option value="/robot/pricedsc">Sort by price descending</option>
            </select>
  </div>
</div>
    <div class="col-md-10">
        <div class="row">
    {{#each robots }}
    <div class="col-md-4 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                 <a href="/robot/detail/{{_id}}"> 
                    <img class="pic-1" src="{{image}}">
                    <img class="pic-2" src="{{image2}}">
                </a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">{{name }}</a></h3>
                <div class="price">${{ price }}</div>
            </div>
        </div>
    </div>
   {{/each}}
</div>
    </div>
</div>

